$dark-blue: #2d496d;
$blue: #337ab7;
$light-blue: #ecf9ff;

$gray: #ddd;
$light-gray: #eee;
$gray-hover: #f5f5f5;

@import "./pages/people/people";
@import "./pages/colors/colors";

.menu-bar {
    background-color: $dark-blue;
    height: 50px;
    padding: 0 10px;
    display: flex;

    &-title {
        cursor: pointer;
        line-height: 50px;
        flex-grow: 1;
        font-size: 22px;
        color: #fff;
    }

    &-item {
        cursor: pointer;
        font-size: 30px;
        color: #fff;
        padding: 5px;

        &:hover {
            color: $gray
        }
    }
}

.app-container {
    margin-top: 10px;
}

.flex-container {
    display: flex;
}

.panel {
    border: 1px solid $light-gray;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

ux-dialog-overlay.active {
    background-color: black;
    opacity: .3 !important;
}

ux-dialog {
    min-width: 500px !important;
}

.modal-header {
    padding: 10px;
    border-bottom: 1px solid $light-gray;
    font-size: 18px;
}

.modal-body {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid $light-gray;
}
